<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>lastName</key>
		<string>Vogel</string>
		<key>firstName</key>
		<string>Reeve</string>
	</dict>
	<dict>
		<key>lastName</key>
		<string>Vogel</string>
		<key>firstName</key>
		<string>Josh</string>
	</dict>
	<dict>
		<key>lastName</key>
		<string>Vogel</string>
		<key>firstName</key>
		<string>Viviane</string>
	</dict>
	<dict>
		<key>lastName</key>
		<string>Vogel</string>
		<key>firstName</key>
		<string>Matt</string>
	</dict>
	<dict>
		<key>lastName</key>
		<string>Vogel</string>
		<key>firstName</key>
		<string>Ryan</string>
	</dict>
	<dict>
		<key>lastName</key>
		<string>Vogel</string>
		<key>firstName</key>
		<string>Marlee</string>
	</dict>
	<dict>
		<key>lastName</key>
		<string>Vogel</string>
		<key>firstName</key>
		<string>Kiki</string>
	</dict>
	<dict>
		<key>lastName</key>
		<string>Doe</string>
		<key>firstName</key>
		<string>John</string>
	</dict>
</array>
</plist>
